* {
  font-family: 'Open Sans', sans-serif;
  ;
}

hr { 
width: 80%
}

.text {
margin-left: 40px;
text-align: center;
padding-bottom: 30px;
padding-top: 30px;
}

#aside{
background-color: #E21833;
padding: 10px;
width: 250px;
height: 37.4in;
float: left;
color: #eee;
top: 0px;   
bottom: 30px; 
}

.aside-header {
  text-align: center;
}

#aside hr {
width: 100%;
}

#portrait{
background-image: url("https://i.imgur.com/yWHdoIv.jpeg");
background-size: cover;
height: 220px;
width: 220px;
border-radius: 100%;
border: #ccc 5px solid;
margin-left: auto;
margin-right: auto;
}

#information {
  padding-top: 10px;
  padding-bottom: 10px;
}

#jose {
  color: #E21833;
  display: inline;
}

#navigation-buttons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.link-to {
  float: right;
  font-size: 20px;
}

.link-to a {
  display: block;
  padding: 10px;
}

#work-exp, #education {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  list-style-type: circle;
}

.circle-list {
  list-style-type: circle;
}

.section-header {
  text-align: center;
}

.project {
  margin: 0px;
  padding: 0px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 2px;
}

.cards__item {
  display: flex;
  padding: 1rem;
  }

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.card__content {
  font-size: 1 rem;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__title, .degree, .role-company {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #E21833;
}

.card__text {
  padding-left: 10px;
  flex: 1 1 auto;
  font-size: 1 rem;
  line-height: 1.0;
  margin-bottom: 1.5 rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  overflow: hidden;
  position: relative;
}

.skills {
  width: 200px;
  margin: 60px auto;
  list-style: none;
}

.bar {
  background:white;
  display: block;
  height: 20px;
  border: 2px solid rgba(0,0,0,0.3);
  overflow:hidden;
  border-radius:3px;
  box-shadow: 0 0 10px grey;
  border-radius: 25px
}

.bar span{
  height: 20px;
  float:left;
  background: grey;
}

.rat1{
width: 100%;
}

.rat2 {
  width: 85%
}

.rat3 {
  width: 75% 
}

.rat4 {
  width: 50%
}

.rat5 {
  width: 40%
}

.s5 {
  height: 10vh;
  background-color: white;
  margin-top: 50px;
}

.s5 hr {
  border-top: 1px solid black;
  width: 80%;
}

.icons {
  display: flex;
  justify-content: center;
  align-content: space-between;
  width: 80%;
}

.s5 a {
  font-size: 50px;
}

.far, .fab, .fas{
  color:black;
  padding-right: 30px;
}

.fa-linkedin:hover {
  color: #2867B2;
  transition: 0.3s;
}

.fa-github:hover {
  color: #6f42c1;
  transition: 0.3s;
}

.fa-envelope:hover {
  color: #d44638;
  transition: 0.3s;
}
.fa-poll:hover {
  color: green;
  transition: 0.3s;
}

.fa-medium:hover {
  color: grey;
  transition: 0.3s;
}